language: node_js
node_js:
- 6.2.2
install:
- npm install
script:
- node app.js & npm test
services:
- memcached
cache:
  directories:
  - node_modules
notifications:
  email:
  - deep.dhillon@socrata.com
  - lane.aasen@socrata.com
  - tosh.meston@gmail.com
  - chris.metcalf@socrata.com
addons:
  code_climate:
    repo_token: 3c2166fe6675d244c885d6f8835f1d5c7c02603d313963c71850985405bfd411
after_script:
- ./update-coverage.sh
